<div class="container pt-3">
  <div class='rounded border p-3 '>
    <h5>
      Resultados de la comparación de {{stats.pacientePatologico.name}} ( {{stats.pacientePatologico.age}} años) con {{stats.cantidadPacientesSanos}} pacientes sanos (edad promedio {{stats.ageAverage}} años). Fecha de generación: {{stats.date | date:'dd-MM-yyyy HH:mm' }}
    </h5>
    <button type="button" class="btn btn-outline-primary" (click)="refrescar()" title="Vuelve a realizar el cálculo de la comparación">Volver a calcular</button>

    <div class='rounded border p-3 '>

      <!-- Comparación de volúmenes -->
      <app-volumenes [volumenes]="stats.volumenes" ></app-volumenes>


      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.left" [titulo]="'Left'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewLeft()">Ver en freeview</button>
        <button type="button" class="btn btn-outline-primary" (click)="compararGrupoEspesorCortialLeft()">Comparar grupo
          espesor cortical</button>
        <button type="button" class="btn btn-outline-primary" (click)="compararGrupoVolumetricoLeft()">Comparar grupo
          volumétrico</button>
      </div>
      <app-referenciasfreeview [annotations]="stats.annotations"></app-referenciasfreeview>


      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.right" [titulo]="'Right'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewRight()">Ver en freeview</button>
        <button type="button" class="btn btn-outline-primary" (click)="compararGrupoEspesorCortialRight()">Comparar
          grupo espesor cortical</button>
        <button type="button" class="btn btn-outline-primary" (click)="compararGrupoVolumetricoRight()">Comparar grupo
          volumétrico</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.leftAparc2009Stat" [titulo]="'leftAparc2009Stat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewLeftAparc2009()">Ver en freeview</button>
        <button type="button" class="btn btn-outline-primary"
          (click)="compararGrupoEspesorCortialLeftAparc2009()">Comparar grupo espesor cortical</button>
        <button type="button" class="btn btn-outline-primary" (click)="compararGrupoVolumetricoLeftAparc2009()">Comparar
          grupo volumétrico</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.rightAparc2009Stat" [titulo]="'rightAparc2009Stat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewRightAparc2009()">Ver en
          freeview</button>
        <button type="button" class="btn btn-outline-primary"
          (click)="compararGrupoEspesorCortialRightAparc2009()">Comparar grupo espesor cortical</button>
        <button type="button" class="btn btn-outline-primary"
          (click)="compararGrupoVolumetricoRightAparc2009()">Comparar grupo volumétrico</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.leftAparcPialStat" [titulo]="'leftAparcPialStat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewAparcPial()">Ver en freeview</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.rightAparcPialStat" [titulo]="'rightAparcPialStat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewAparcPial()">Ver en freeview</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.leftAparcDKTatlasStat" [titulo]="'leftAparcDKTatlasStat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewLeftDKT()">Ver en freeview</button>
      </div>

      <div class='rounded border p-3 '>
        <app-aparctable [stats]="stats.rightAparcDKTatlasStat" [titulo]="'rightAparcDKTatlasStat'"></app-aparctable>
        <button type="button" class="btn btn-outline-primary" (click)="freeviewLeftDKT()">Ver en freeview</button>
      </div>

     <app-asegstats [aseg]='{{stats.aseg}}'></app-asegstats>


      <div class='rounded border p-3 '>
        <h6>
          wmParcStat.stats
        </h6>
        <div class='rounded border p-3 '>
          <table class="table resultados">
            <thead class="thead-dark">
              <tr>
                <th>Structure Name</th>
                <th>nVoxels</th>
                <th colspan="3">volume_mm3</th>
                <th colspan="3">normMean</th>
                <th colspan="3">normStdDev</th>
                <th colspan="3">normMin</th>
                <th colspan="3">normMax</th>
                <th colspan="3">normRange</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>

                <td class='datos'>Media</td>
                <td class='datos'>Desvío</td>
                <td class='datos'>Paciente</td>


              </tr>

              <tr *ngFor="let stat of stats.wmParcStat">
                <th class='region' scope="row">{{stat.structureName}} </th>
                <th class='region' scope="row">{{stat.nVoxels}} </th>

                <td>{{stat.volume_mm3.media | number: '1.1-2'}}</td>
                <td>{{stat.volume_mm3.desvio | number: '1.1-2'}}</td>
                <td title=" menor a {{stat.volume_mm3.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.volume_mm3.cantidadDesvio}}{{stat.volume_mm3.negativo}}'>{{stat.volume_mm3.patologico
                      | number: '1.1-2'}}</td>

                <td>{{stat.normMean.media | number: '1.1-2'}}</td>
                <td>{{stat.normMean.desvio | number: '1.1-2'}}</td>
                <td title=" menor a  {{stat.normMean.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.normMean.cantidadDesvio}}{{stat.normMean.negativo}}'>{{stat.normMean.patologico
                      | number: '1.1-2'}}</td>

                <td>{{stat.normStdDev.media | number: '1.1-2'}}</td>
                <td>{{stat.normStdDev.desvio | number: '1.1-2'}}</td>
                <td title=" menor a  {{stat.normStdDev.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.normStdDev.cantidadDesvio}}{{stat.normStdDev.negativo}}'>{{stat.normStdDev.patologico
                      | number: '1.1-2'}}</td>

                <td>{{stat.normMin.media | number: '1.1-2'}}</td>
                <td>{{stat.normMin.desvio | number: '1.1-2'}}</td>
                <td title=" menor a  {{stat.normMin.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.normMin.cantidadDesvio}}{{stat.normMin.negativo}}'>{{stat.normMin.patologico
                      | number: '1.1-2'}}</td>

                <td>{{stat.normMax.media | number: '1.1-2'}}</td>
                <td>{{stat.normMax.desvio | number: '1.1-2'}}</td>
                <td title=" menor a  {{stat.normMax.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.normMax.cantidadDesvio}}{{stat.normMax.negativo}}'>{{stat.normMax.patologico
                      | number: '1.1-2'}}</td>

                <td>{{stat.normRange.media | number: '1.1-2'}}</td>
                <td>{{stat.normRange.desvio | number: '1.1-2'}}</td>
                <td title=" menor a  {{stat.normRange.cantidadDesvio + 1 }} desvío standard"
                  class='desvio{{stat.normRange.cantidadDesvio}}{{stat.normRange.negativo}}'>{{stat.normRange.patologico
                      | number: '1.1-2'}}</td>



              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>








    <div class='rounded border p-3 '>
      <button type="button" class="btn btn-outline-primary" (click)="volver()">Volver</button>
    </div>
  </div>