<app-pacientes [patients]="patients"
(onEstudios)="verEstudios($event)"
(onSearchChange)="buscar($event)"
[titulo]="'Buscar paciente'" 
(onBack)="volver()"></app-pacientes>

    <div class='rounded border p-3 '>
            <button *ngIf="patologicos" type="button" class="btn btn-outline-primary" (click)="generarReporte()">Descargar comparación</button>
            <button *ngIf="patologicos" type="button" class="btn btn-outline-primary" (click)="generarReporteReducido()">Descargar comparación reducida</button>
            <p *ngIf="patologicos &&  porcentajeDescaga != null">{{porcentajeDescaga}}%</p>            
        </div>


<router-outlet></router-outlet>