<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="id" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Acciones
    </button>
    <div class="dropdown-menu" aria-labelledby="id">
        <button class="dropdown-item" type="button" (click)="freeView()">Ver en freeview</button>
        <button class="dropdown-item" type="button" (click)="compararEspesorCortical()">Comparar espesor
            cortical</button>
        <button class="dropdown-item" type="button" (click)="compararVolumen()">Comparar
            volumétrico</button>
        <button class="dropdown-item" type="button" (click)="compararArea()">Comparar área</button>
        <button class="dropdown-item" type="button" (click)="compararCurvatura()">Comparar curvatura</button>
    </div>
</div>