<div class="container pt-3">
    <div class=''>
        <p>Estudios del paciente: {{estudio.patient.name}}</p>
        <p>Estudio: {{estudio.name}} </p>
    </div>



    <div class=''>
        <table class="table table-hover">
            <caption>Listado de series</caption>
            <thead class="thead-dark">
                <tr>
                    <th>Paciente</th>
                    <th>Serie</th>
                    <th>Número de serie</th>
                    <th>FREE SURFER</th>
                    <th title='Indica el estado de conversión a formato NII'>Formato NII</th>
                    <th title='Indica el estado de procesamiento de FA'>FA</th>
                    <th title='Indica el estado de procesamiento de TBSS'>TBSS</th>
                    <!-- <th>Ver imágenes</th>-->
                    <th>Comparar</th>
                    <!--                    <th>Comparar en escala</th>
                    <th title='Realiza una comparación usando los datos de la base de datos Brain Growth Charts'>
                        Comparar
                        Pediátricos</th>
                    <th
                        title='Realiza una comparación usando los datos de la base de datos Brain Growth Charts aplicando un factor de escala a los datos'>
                        Comparar
                        Pediátricos (en escala)</th>
                    -->   
                    <th>Comparar FA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let serie of studiesSeries">
                    <th scope="row"> {{serie.study.patient.name | name }} </th>
                    <th scope="row"> {{serie.name | name}} </th>
                    <td scope="row"> {{serie.serieNumber}} </td>
                    <td>
                        <div *ngIf="serie.freesurfer != null && serie.freesurfer.state == 'PROCESSED'">
                            <img [src]="descagarImg" (click)="freeView(serie.id)" title='Ver en freeview'>
                            <p>Procesado {{serie.freesurfer.fin | date:'dd-MM-yyyy HH:mm' }}</p>
                        </div>
                        <div *ngIf="serie.freesurfer != null && serie.freesurfer.state == 'QUEUE'">
                            <button type="button" class="btn btn-outline-primary" (click)="aumentarPrioridad(serie.id)"
                                title='Aumenta la prioridad de este proceso'>Priorizar</button>
                            <button type="button" class="btn btn-outline-primary" (click)="cancelar(serie.id)"
                                title='Cancela el proceso'>Cancelar</button>
                            <p>En cola</p>
                        </div>

                        <button *ngIf="serie.freesurfer == null" type="button" class="btn btn-outline-primary"
                            (click)="procesar(serie.id)"
                            title='Pone en cola de espera el freesurfer para ser procesado'>Procesar</button>
                        <p *ngIf="serie.freesurfer != null && serie.freesurfer.state == 'PROCESSING' ">En proceso
                            desde
                            {{serie.freesurfer.inicio | date:'dd-MM-yyyy HH:mm' }}</p>
                        <p *ngIf="serie.freesurfer != null && serie.freesurfer.state == 'ERROR' "
                            title='{{serie.freesurfer.description}}'>ERROR</p>
                    </td>
                    <td>
                        <p *ngIf="serie.dicomToNii != null && serie.dicomToNii.state === 'PROCESSED'">{{serie.dicomToNii.state}} ({{serie.dicomToNii.fin  | date:'dd-MM-yyyy HH:mm'}})</p>
                        <p *ngIf="serie.dicomToNii != null && serie.dicomToNii.state != 'PROCESSED'">{{serie.dicomToNii.state}} ({{serie.dicomToNii.inicio  | date:'dd-MM-yyyy HH:mm'}})</p>
                        
                        <!--
                        <img *ngIf="serie.dcm2nii" [src]="dcm2niixImage" title="La serie ya está en formato nii">
                        <input *ngIf="!serie.dcm2nii" type="checkbox" (click)="dcm2nii(serie.id)"
                            title='Procesar la imagen a formato nii.'>
                            -->
                    </td>
                    <td>
                            <p *ngIf="serie.fdtPipeLine != null && serie.fdtPipeLine.state === 'PROCESSED'">{{serie.fdtPipeLine.state}} ({{serie.fdtPipeLine.fin  | date:'dd-MM-yyyy HH:mm'}})</p>
                            <p  *ngIf="serie.fdtPipeLine != null && serie.fdtPipeLine.state != 'PROCESSED'" title='{{serie.fdtPipeLine.description}}'>{{serie.fdtPipeLine.state}} ({{serie.fdtPipeLine.inicio  | date:'dd-MM-yyyy HH:mm'}})</p>
    
                        <!--
                        <img *ngIf="serie.dti" [src]="dtiImage" (click)="trackVis(serie.id)" title="Abrir en TrackVis">
                        <input *ngIf="!serie.dti" type="checkbox" (click)="dti(serie.id)" title='Procesar dti.'>
                    -->
                    </td>

                    <td>
                            <p *ngIf="serie.tbss != null && serie.tbss.state === 'PROCESSED'">{{serie.tbss.state}} ({{serie.tbss.fin  | date:'dd-MM-yyyy HH:mm'}})</p>
                            <p  *ngIf="serie.tbss != null && serie.tbss.state != 'PROCESSED'" title='{{serie.tbss.description}}'>{{serie.tbss.state}} ({{serie.tbss.inicio  | date:'dd-MM-yyyy HH:mm'}})</p>
                    </td>

                    <!-- <td><img [src]="descagarImg" (click)="verImagenes(serie.id)"></td>-->
                    <td>
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="serie.id" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        ACCIONES
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="serie.id">
                                            <button title="Reprocessar NII" class="dropdown-item" type="button" (click)="reprocesarNII(serie.id)">Reprocesar NII</button>
                                            <button *ngIf="serie.dicomToNii && serie.dicomToNii.state === 'PROCESSED'" title="Reprocessar FA" class="dropdown-item" type="button" (click)="reprocesarFA(serie.id)">Reprocesar FA</button>
                                            <button *ngIf="serie.fdtPipeLine && serie.fdtPipeLine.state === 'PROCESSED'" title="Reprocessar TBSS" class="dropdown-item" type="button" (click)="reprocesarTBSS(serie.id)">Reprocesar TBSS</button>
                                            <button *ngIf="serie.freesurfer && (serie.freesurfer.state === 'PROCESSED' || serie.freesurfer.state === 'ERROR')" title="Reprocessar FREESURFER" class="dropdown-item" type="button" (click)="reprocesarFreesurfer(serie.id)">Reprocesar Freesurfer</button>
                                            <button title="Visualizar FA" class="dropdown-item" type="button" (click)="visualizarFA(serie.id)">Ver FA</button>
                                        <button title="Visualizar TBSS" class="dropdown-item" type="button" (click)="visualizarTBSS(serie.id)">Ver TBSS</button>
                                        <button title="Comparar con pacientes de la base de datos"  class="dropdown-item" type="button" (click)="comparar(serie.id)">Comparar</button>
                                        <button title="Comparar con pacientes de la base de datos usando factor de escala" class="dropdown-item" type="button" (click)="compararEscala(serie.id)">Comparar (en escala)</button>
                                        <button title="Comparar con pacientes de la base de datos Brain Growth Charts" class="dropdown-item" type="button" (click)="compararUsc(serie.id)">Comparar pediátricos</button>
                                        <button title="Comparar con pacientes de la base de datos Brain Growth Charts usando factor de escala" class="dropdown-item" type="button" (click)="compararUscEscala(serie.id)">Comparar pediátricos (en escala)</button>
                                        <button title="Ver imágenes" class="dropdown-item" type="button" (click)="verImagenes(serie.id)">Ver imágenes</button>
                                        
                                    </div>
                                </div>
                    </td>    

                    <td><button type="button" class="btn btn-outline-primary" (click)="compararFA(serie.id)"
                            title="Busca dentro de las bases de datos de pacientes sanos, pacientes para realizar la comparación de FA.">Comparar
                            FA</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='rounded border p-3 '>
        <button type="button" class="btn btn-outline-primary" (click)="volver()">Volver</button>

    </div>