<div class="card-deck">

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Cognitivos

                        <div *ngIf="!cantidadCognitivos" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadCognitivos" title='Cantidad de pacientes con series cognitivos'
                                class="badge badge-primary">{{cantidadCognitivos}}</span>

                </div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Cognitivos</h5>
                        <p class="card-text">Listado de pacientes con series cognitivas. Estas series son descargadas
                                diariamente de los resonadores.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link" (click)="cognitivos()">Ver
                                cognitivos</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Pacientes

                        <div *ngIf="!cantidadPacientes" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>
                        <span *ngIf="cantidadPacientes" title='Cantidad de pacientes descargados'
                                class="badge badge-primary">{{cantidadPacientes}}</span></div>


                <div class="card-body text-primary">
                        <h5 class="card-title">Pacientes</h5>
                        <p class="card-text">Listado de pacientes.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="viewPatients()">Ver
                                pacientes</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Pacientes en resonador

                        <div *ngIf="!cantidadPacientesResonador" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadPacientesResonador" title='Cantidad de pacientes en los resonadores'
                                class="badge badge-primary">{{cantidadPacientesResonador}}</span>


                </div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Pacientes en resonador</h5>
                        <p class="card-text">Listado de pacientes en los resonadores.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="pacientesResonador()">Pacientes en
                                resonador</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Epilepsias

                        <div *ngIf="!cantidadEpilesias" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadEpilesias" title='Cantidad de pacientes con estudios de epilepsia'
                                class="badge badge-primary">{{cantidadEpilesias}}</span></div>

                <div class="card-body text-primary">
                        <h5 class="card-title">Epilepsias</h5>
                        <p class="card-text">Listado de pacientes con protocolos de epilepsia</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="epilepsias()">Epilepsias</button>
                </div>
        </div>
</div>
<div class="card-deck">

        <div class="card border-primary mb-3" style="max-width: 18rem;">

                <div class="card-header">Tumores

                        <div *ngIf="!cantidadTumores" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadTumores" title='Cantidad de pacientes con estudios de tumores'
                                class="badge badge-primary">{{cantidadTumores}}</span>

                </div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Tumores</h5>
                        <p class="card-text">Listado de pacientes con protocolos de tumores.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="tumores()">Tumores</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Series procesadas

                        <div *ngIf="!cantidadProcesados" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadProcesados"
                                title='Cantidad de pacientes con estudios procesados con freesurfer'
                                class="badge badge-primary">{{cantidadProcesados}}</span></div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Series procesadas</h5>
                        <p class="card-text">Listado de pacientes con series procesadas con freesurfer.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="seriesProcesadas()">Series procesadas</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Series en cola

                        <div *ngIf="cantidadencola == null " class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>


                        <span *ngIf="cantidadencola != null"
                                title='Cantidad de pacientes con series esperando para ser procesadas por freesurfer'
                                class="badge badge-primary">{{cantidadencola}}</span></div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Series en cola</h5>
                        <p class="card-text">Listado de pacientes con series esperando para ser procesadas por
                                freesurfer.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="seriesencola()">Series en cola</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Series procesando

                        <div *ngIf="cantidadProcesando == null" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                        </div>

                        <span *ngIf="cantidadProcesando != null"
                                title='Cantidad de pacientes con series en proceso de freesurfer'
                                class="badge badge-primary">{{cantidadProcesando}}</span></div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Series proceando</h5>
                        <p class="card-text">Listado pacientes con series que se están procesando en el freesurfer.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="seriesprocesando()">Series procesando</button>
                </div>
        </div>
</div>
<div class="card-deck">


        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Pacientes Patológicos<span title='Cantidad de pacientes con interés de estudio'
                                class="badge badge-primary">?</span></div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Pacientes Patológicos</h5>
                        <p class="card-text">Listado de pacientes con interés de estudios.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="pacientesPatologicos()">Pacientes Patológicos</button>
                </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Eventos del sistema<span title='Cantidad de eventos del sistema'
                                class="badge badge-primary">?</span></div>
                <div class="card-body text-primary">
                        <h5 class="card-title">Eventos del sistema</h5>
                        <p class="card-text">Listado de los últimos eventos en el sistema.</p>
                        <button type="button" class="btn btn-outline-primary stretched-link"
                                (click)="eventos()">Eventos</button>
                </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Tbss<span title='Cantidad de procesamientos de TBSS'
                                        class="badge badge-primary">{{cantidadTbss}}</span></div>
                        <div class="card-body text-primary">
                                <h5 class="card-title">TBSS</h5>
                                <p class="card-text">Procesamiento de TBSS.</p>
                                <button type="button" class="btn btn-outline-primary stretched-link"
                                        (click)="tbss()">TBSS</button>
                        </div>
                </div>
        

                <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Tractseg<span title='Cantidad de procesamientos de TBSS'
                                        class="badge badge-primary">{{cantidadTractSeg}}</span></div>
                        <div class="card-body text-primary">
                                <h5 class="card-title">TractSeg</h5>
                                <p class="card-text">Procesamiento de Tractseg.</p>
                                <button type="button" class="btn btn-outline-primary stretched-link"
                                        (click)="tractSeg()">TractSeg</button>
                        </div>
                </div>
 



</div>





<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="admin()">Administrar</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="import()">Importar Base de datos</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="freeSurfer()">Free view</button>
</div>






<!--
        <div class='rounded border p-3 '>

                <button type="button" class="btn btn-outline-primary" (click)="pacientesEstudio()">Pacientes en estudio</button>
        </div>
-->