<div class="content-wrapper">

<!--
                <div class="main-overview">
                                <div class="overviewCard">
                                  <div class="overviewCard-icon overviewCard-icon--document">
                                     <i class="far fa-file-alt"></i>
                                  </div>
                                  <div class="overviewCard-description">
                                    <h3 class="overviewCard-title text-light">Ver <strong>Pacientes</strong></h3>
                                    <p class="overviewCard-subtitle">Europe Trip</p>
                                  </div>
                                </div>
                </div>
-->
        <!--
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Ver pacientes</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                                                        <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Administrar</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                                                        <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Importar base de datos</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>


                </div>

                <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                                        <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Freeview</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                                        <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Pacientes en resonador</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>  

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                                <div class="inforide">
                                        <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                                                        <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
                                                </div>
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                                        <h4>Pacientes en patológicos</h4>
                                                </div>
                                        </div>
                                </div>
                        </div>  

                </div>
        </div>
</div>
-->
<div class='rounded border p-3 '>
        <button type="button" class="btn btn-outline-primary" (click)="viewPatients()">Ver pacientes</button>
</div>

<div class='rounded border p-3 '>
         <button type="button" class="btn btn-outline-primary" (click)="cognitivos()">Cognitivos</button>
</div>
        

<!--
<div class='rounded border p-3 '>
        <button type="button" class="btn btn-outline-primary" (click)="search()">Buscar</button>
</div>
-->
<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="admin()">Administrar</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="import()">Importar Base de datos</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="freeSurfer()">Free view</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="pacientesResonador()">Pacientes en resonador</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="pacientesPatologicos()">Pacientes patológicos</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="epilepsias()">Epilepsias</button>
</div>

<div class='rounded border p-3 '>

        <button type="button" class="btn btn-outline-primary" (click)="tumores()">Tumores</button>
</div>

<div class='rounded border p-3 '>

                <button type="button" class="btn btn-outline-primary" (click)="seriesencola()">Series en cola</button>
        </div>
        
        <div class='rounded border p-3 '>

                        <button type="button" class="btn btn-outline-primary" (click)="seriesprocesando()">Series procesando</button>
                </div>
                <div class='rounded border p-3 '>

                                <button type="button" class="btn btn-outline-primary" (click)="seriesProcesadas()">Series procesadas</button>
                        </div>
        
        

<!--
        <div class='rounded border p-3 '>

                <button type="button" class="btn btn-outline-primary" (click)="pacientesEstudio()">Pacientes en estudio</button>
        </div>
-->