<div class="container pt-3">
  <div class='rounded border p-3 '>
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th>Serie</th> 
                  <th>Paciente</th> 
                  <th>Estudio</th>
                  <th>Procesar serie</th> 
                  <th>Ver en free-view</th> 
                  <th title='Convierte las imágenes dicom al formretato nii' >dcm2niix</th> 
                  <th titretle='Procesamiento dti de la serie' >dti</th> 
                  <th> Ver imágenes</th> 
                 </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let dir of directories">
                      <th scope="row"> {{dir.serie.name}} </th>
                      <td scope="row"> {{dir.serie.study.patient.name}} </td>
                      <td scope="row"> {{dir.serie.study.name}} </td>
                      <td> 
                          <input  type="checkbox" (click)="procesar(dir.name)">
                        </td>
                      <td><img  [src]="descagarImg" (click)="freeView(dir.name)"></td>
                      <td>
                        <img *ngIf="dir.state == 'PROCESSED'" [src]="dcm2niixImage" title="La serie ya está en formato nii">
                        <input  *ngIf="dir.state == 'WAITTING'" type="checkbox" (click)="dcm2nii(dir.name)" title='Procesar la imagen a formato nii.'>
                        <p  *ngIf="dir.state == 'QUEUE'">EN ESPERA</p> 
                        <p  *ngIf="dir.state == 'PROCESSING'">PROCESANDO</p> 
                        </td>
                        <td>
                          
                          <img *ngIf="dir.dtiState == 'PROCESSED'" [src]="dtiImage" (click)="trackVis(dir.name)" title="Abrir en TrackVis" >
                       
                        
                        <p  *ngIf="dir.dtiState == 'QUEUE'">EN ESPERA</p> 
                        <p  *ngIf="dir.dtiState == 'PROCESSING'">PROCESANDO</p> 
                          <input  *ngIf="dir.dtiState == 'WAITTING'" type="checkbox" (click)="dti(dir.name)" title='Procesar dti.'>
                        </td>

                      <td><img [src]="descagarImg" (click)="verImagenes(dir.name)"></td>
                   </tr>
                  </tbody>
                      </table>
</div>
</div>ret