<div class="container pt-3">
   
    <h5>
      Resultados de la comparación de {{stats.pacientePatologico.name}} ( {{stats.pacientePatologico.age}} {{stats.pacientePatologico.ageUnit != "MONTH" ? " años" : " meses"}}
      ) con {{stats.cantidadPacientesSanos}} pacientes sanos (edad promedio {{stats.ageAverage}} años). Fecha de generación: {{stats.date | date:'dd-MM-yyyy HH:mm' }}
     
    </h5>
    <button type="button" class="btn btn-outline-primary" (click)="refrescar()" title="Vuelve a realizar el cálculo de la comparación">Volver a calcular</button>

    <div class='rounded border p-3 '>
      
      <!-- Comparación de volúmenes -->
      <app-volumenes [volumenes]="stats.volumenes" ></app-volumenes>


    <div class='rounded border p-3 '>
      <h6>
        Left
      </h6>
      <div class='rounded border p-3 '>
        <table class="table resultados">
          <thead class="thead-dark">
            <tr>
              <th>StructName</th>
              <!--
              <th colspan="3">NumVert</th>
              -->
              <th colspan="3">SurfArea</th>
              <th colspan="3">GrayVol</th>
              <th colspan="3">ThickAvg</th>
              <th colspan="3">ThickStd</th>
              <th colspan="3">MeanCurv</th>
              <th colspan="3">GausCurv</th>
              <th colspan="3">FoldInd</th>
              <th colspan="3">CurvInd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

            </tr>

            <tr *ngFor="let stat of stats.left">
              <th class='region' scope="row">{{stat.structName}} </th>
              <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
              <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}{{stat.surfArea.negativo}}'>{{stat.surfArea.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
              <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}{{stat.grayVol.negativo}}'>{{stat.grayVol.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
              <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}{{stat.thickAvg.negativo}}'>{{stat.thickAvg.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
              <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}{{stat.thickStd.negativo}}'>{{stat.thickStd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}{{stat.meanCurv.negativo}}'>{{stat.meanCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}{{stat.gausCurv.negativo}}'>{{stat.gausCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
              <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}{{stat.foldInd.negativo}}'>{{stat.foldInd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
              <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}{{stat.curvInd.negativo}}'>{{stat.curvInd.patologico
                | number: '1.1-3'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      
      <button type="button" class="btn btn-outline-primary" (click)="freeviewLeft()">Ver en freeview</button>
    </div>
    <div class='rounded border p-3 '>
      <h6>
        Right
      </h6>
      <div class='rounded border p-3 '>
          <table class="table resultados">
              <thead class="thead-dark">
                <tr>
                  <th>StructName</th>
                  <!--
                  <th colspan="3">NumVert</th>
                  -->
                  <th colspan="3">SurfArea</th>
                  <th colspan="3">GrayVol</th>
                  <th colspan="3">ThickAvg</th>
                  <th colspan="3">ThickStd</th>
                  <th colspan="3">MeanCurv</th>
                  <th colspan="3">GausCurv</th>
                  <th colspan="3">FoldInd</th>
                  <th colspan="3">CurvInd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                </tr>
    
                <tr *ngFor="let stat of stats.right">
                  <th class='region' scope="row">{{stat.structName}} </th>
                  <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
                  <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}{{stat.surfArea.negativo}}'>{{stat.surfArea.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
                  <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}{{stat.grayVol.negativo}}'>{{stat.grayVol.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}{{stat.thickAvg.negativo}}'>{{stat.thickAvg.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}{{stat.thickStd.negativo}}'>{{stat.thickStd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}{{stat.meanCurv.negativo}}'>{{stat.meanCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}{{stat.gausCurv.negativo}}'>{{stat.gausCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
                  <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}{{stat.foldInd.negativo}}'>{{stat.foldInd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
                  <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}{{stat.curvInd.negativo}}'>{{stat.curvInd.patologico
                    | number: '1.1-3'}}</td>
    
                </tr>
              </tbody>
            </table>
      </div>
     
      <button type="button" class="btn btn-outline-primary" (click)="freeviewRight()">Ver en freeview</button>

    </div>



    <div class='rounded border p-3 '>
      <h6>
        leftAparc2009Stat
      </h6>
      <div class='rounded border p-3 '>
        <table class="table resultados">
          <thead class="thead-dark">
            <tr>
              <th>StructName</th>
              <!--
              <th colspan="3">NumVert</th>
              -->
              <th colspan="3">SurfArea</th>
              <th colspan="3">GrayVol</th>
              <th colspan="3">ThickAvg</th>
              <th colspan="3">ThickStd</th>
              <th colspan="3">MeanCurv</th>
              <th colspan="3">GausCurv</th>
              <th colspan="3">FoldInd</th>
              <th colspan="3">CurvInd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

            </tr>

            <tr *ngFor="let stat of stats.leftAparc2009Stat">
              <th class='region' scope="row">{{stat.structName}} </th>
              <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
              <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}{{stat.surfArea.negativo}}'>{{stat.surfArea.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
              <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}{{stat.grayVol.negativo}}'>{{stat.grayVol.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
              <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}{{stat.thickAvg.negativo}}'>{{stat.thickAvg.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
              <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}{{stat.thickStd.negativo}}'>{{stat.thickStd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}{{stat.meanCurv.negativo}}'>{{stat.meanCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}{{stat.gausCurv.negativo}}'>{{stat.gausCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.foldInd.media | number: '1.1-3'}}</td>
              <td>{{stat.foldInd.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}{{stat.foldInd.negativo}}'>{{stat.foldInd.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.curvInd.media | number: '1.1-2'}}</td>
              <td>{{stat.curvInd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}{{stat.curvInd.negativo}}'>{{stat.curvInd.patologico
                | number: '1.1-2'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="freeviewLeftAparc2009()">Ver en freeview</button>

    </div>
    <div class='rounded border p-3 '>
      <h6>
        rightAparc2009Stat
      </h6>
      <div class='rounded border p-3 '>
          <table class="table resultados">
              <thead class="thead-dark">
                <tr>
                  <th>StructName</th>
                  <!--
                  <th colspan="3">NumVert</th>
                  -->
                  <th colspan="3">SurfArea</th>
                  <th colspan="3">GrayVol</th>
                  <th colspan="3">ThickAvg</th>
                  <th colspan="3">ThickStd</th>
                  <th colspan="3">MeanCurv</th>
                  <th colspan="3">GausCurv</th>
                  <th colspan="3">FoldInd</th>
                  <th colspan="3">CurvInd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                </tr>
    
                <tr *ngFor="let stat of stats.rightAparc2009Stat">
                  <th class='region' scope="row">{{stat.structName}} </th>
                  <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
                  <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}{{stat.surfArea.negativo}}'>{{stat.surfArea.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
                  <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}{{stat.grayVol.negativo}}'>{{stat.grayVol.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}{{stat.thickAvg.negativo}}'>{{stat.thickAvg.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}{{stat.thickStd.negativo}}'>{{stat.thickStd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}{{stat.meanCurv.negativo}}'>{{stat.meanCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}{{stat.gausCurv.negativo}}'>{{stat.gausCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
                  <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}{{stat.foldInd.negativo}}'>{{stat.foldInd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.curvInd.media | number: '1.1-2'}}</td>
                  <td>{{stat.curvInd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}{{stat.curvInd.negativo}}'>{{stat.curvInd.patologico
                    | number: '1.1-2'}}</td>
    
                </tr>
              </tbody>
            </table>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="freeviewRightAparc2009()">Ver en freeview</button>

    </div>



<div class='rounded border p-3 '>
      <h6>
        leftAparcPialStat
      </h6>
      <div class='rounded border p-3 '>
        <table class="table resultados">
          <thead class="thead-dark">
            <tr>
              <th>StructName</th>
              <!--
              <th colspan="3">NumVert</th>
              -->
              <th colspan="3">SurfArea</th>
              <th colspan="3">GrayVol</th>
              <th colspan="3">ThickAvg</th>
              <th colspan="3">ThickStd</th>
              <th colspan="3">MeanCurv</th>
              <th colspan="3">GausCurv</th>
              <th colspan="3">FoldInd</th>
              <th colspan="3">CurvInd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

            </tr>

            <tr *ngFor="let stat of stats.leftAparcPialStat">
              <th class='region' scope="row">{{stat.structName}} </th>
              <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
              <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}'>{{stat.surfArea.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
              <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}'>{{stat.grayVol.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
              <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}'>{{stat.thickAvg.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
              <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}'>{{stat.thickStd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}'>{{stat.meanCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}'>{{stat.gausCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
              <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}'>{{stat.foldInd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
              <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}'>{{stat.curvInd.patologico
                | number: '1.1-3'}}</td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class='rounded border p-3 '>
      <h6>
        rightAparcPialStat
      </h6>
      <div class='rounded border p-3 '>
          <table class="table resultados">
              <thead class="thead-dark">
                <tr>
                  <th>StructName</th>
                  <!--
                  <th colspan="3">NumVert</th>
                  -->
                  <th colspan="3">SurfArea</th>
                  <th colspan="3">GrayVol</th>
                  <th colspan="3">ThickAvg</th>
                  <th colspan="3">ThickStd</th>
                  <th colspan="3">MeanCurv</th>
                  <th colspan="3">GausCurv</th>
                  <th colspan="3">FoldInd</th>
                  <th colspan="3">CurvInd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                </tr>
    
                <tr *ngFor="let stat of stats.rightAparcPialStat">
                  <th class='region' scope="row">{{stat.structName}} </th>
                  <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
                  <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}'>{{stat.surfArea.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
                  <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}'>{{stat.grayVol.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}'>{{stat.thickAvg.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}'>{{stat.thickStd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}'>{{stat.meanCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}'>{{stat.gausCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
                  <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}'>{{stat.foldInd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
                  <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}'>{{stat.curvInd.patologico
                    | number: '1.1-3'}}</td>
    
                </tr>
              </tbody>
            </table>
      </div>

    </div>



    <div class='rounded border p-3 '>
      <h6>
        leftAparcDKTatlasStat
      </h6>
      <div class='rounded border p-3 '>
        <table class="table resultados">
          <thead class="thead-dark">
            <tr>
              <th>StructName</th>
              <!--
              <th colspan="3">NumVert</th>
              -->
              <th colspan="3">SurfArea</th>
              <th colspan="3">GrayVol</th>
              <th colspan="3">ThickAvg</th>
              <th colspan="3">ThickStd</th>
              <th colspan="3">MeanCurv</th>
              <th colspan="3">GausCurv</th>
              <th colspan="3">FoldInd</th>
              <th colspan="3">CurvInd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

              <td class='datos'>Media</td>
              <td class='datos'>Desvío</td>
              <td class='datos'>Paciente</td>

            </tr>

            <tr *ngFor="let stat of stats.leftAparcDKTatlasStat">
              <th class='region' scope="row">{{stat.structName}} </th>
              <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
              <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}'>{{stat.surfArea.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
              <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}'>{{stat.grayVol.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
              <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}'>{{stat.thickAvg.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
              <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}'>{{stat.thickStd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}'>{{stat.meanCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
              <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}'>{{stat.gausCurv.patologico
                | number: '1.1-3'}}</td>

              <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
              <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
              <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}'>{{stat.foldInd.patologico
                | number: '1.1-2'}}</td>

              <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
              <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
              <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}'>{{stat.curvInd.patologico
                | number: '1.1-3'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
      <!--
      <button type="button" class="btn btn-outline-primary" (click)="freeviewLeftDKT()">Ver en freeview</button>
-->
    </div>
    <div class='rounded border p-3 '>
      <h6>
        rightAparcDKTatlasStat
      </h6>
      <div class='rounded border p-3 '>
          <table class="table resultados">
              <thead class="thead-dark">
                <tr>
                  <th>StructName</th>
                  <!--
                  <th colspan="3">NumVert</th>
                  -->
                  <th colspan="3">SurfArea</th>
                  <th colspan="3">GrayVol</th>
                  <th colspan="3">ThickAvg</th>
                  <th colspan="3">ThickStd</th>
                  <th colspan="3">MeanCurv</th>
                  <th colspan="3">GausCurv</th>
                  <th colspan="3">FoldInd</th>
                  <th colspan="3">CurvInd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                  <td class='datos'>Media</td>
                  <td class='datos'>Desvío</td>
                  <td class='datos'>Paciente</td>
    
                </tr>
    
                <tr *ngFor="let stat of stats.rightAparcDKTatlasStat">
                  <th class='region' scope="row">{{stat.structName}} </th>
                  <td>{{stat.surfArea.media | number: '1.1-2'}}</td>
                  <td>{{stat.surfArea.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.surfArea.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.surfArea.cantidadDesvio}}'>{{stat.surfArea.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.grayVol.media | number: '1.1-2'}}</td>
                  <td>{{stat.grayVol.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.grayVol.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.grayVol.cantidadDesvio}}'>{{stat.grayVol.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickAvg.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickAvg.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickAvg.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickAvg.cantidadDesvio}}'>{{stat.thickAvg.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.thickStd.media | number: '1.1-2'}}</td>
                  <td>{{stat.thickStd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.thickStd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.thickStd.cantidadDesvio}}'>{{stat.thickStd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.meanCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.meanCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.meanCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.meanCurv.cantidadDesvio}}'>{{stat.meanCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.gausCurv.media | number: '1.1-3'}}</td>
                  <td>{{stat.gausCurv.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.gausCurv.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.gausCurv.cantidadDesvio}}'>{{stat.gausCurv.patologico
                    | number: '1.1-3'}}</td>
    
                  <td>{{stat.foldInd.media | number: '1.1-2'}}</td>
                  <td>{{stat.foldInd.desvio | number: '1.1-2'}}</td>
                  <td title=" > {{stat.foldInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.foldInd.cantidadDesvio}}'>{{stat.foldInd.patologico
                    | number: '1.1-2'}}</td>
    
                  <td>{{stat.curvInd.media | number: '1.1-3'}}</td>
                  <td>{{stat.curvInd.desvio | number: '1.1-3'}}</td>
                  <td title=" > {{stat.curvInd.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.curvInd.cantidadDesvio}}'>{{stat.curvInd.patologico
                    | number: '1.1-3'}}</td>
    
                </tr>
              </tbody>
            </table>
      </div>
      <!--
      <button type="button" class="btn btn-outline-primary" (click)="freeviewRightDKT()">Ver en freeview</button>
-->
    </div>

        <app-asegstats [aseg]="stats.aseg" ></app-asegstats>

      <div class='rounded border p-3 '>
        <h6>
          wmParcStat.stats
        </h6>
        <div class='rounded border p-3 '>
            <table class="table resultados">
                <thead class="thead-dark">
                  <tr>
                    <th>Structure Name</th>
                    <th>nVoxels</th>
                    <th colspan="3">volume_mm3</th>
                    <th colspan="3">normMean</th>
                    <th colspan="3">normStdDev</th>
                    <th colspan="3">normMin</th>
                    <th colspan="3">normMax</th>
                    <th colspan="3">normRange</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
                    <td class='datos'>Media</td>
                    <td class='datos'>Desvío</td>
                    <td class='datos'>Paciente</td>
      
      
                  </tr>
      
                  <tr *ngFor="let stat of stats.wmParcStat">
                    <th class='region' scope="row">{{stat.structureName}} </th>
                    <th class='region' scope="row">{{stat.nVoxels}} </th>
      
                    <td>{{stat.volume_mm3.media | number: '1.1-2'}}</td>
                    <td>{{stat.volume_mm3.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.volume_mm3.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.volume_mm3.cantidadDesvio}}'>{{stat.volume_mm3.patologico
                      | number: '1.1-2'}}</td>
      
                    <td>{{stat.normMean.media | number: '1.1-2'}}</td>
                    <td>{{stat.normMean.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.normMean.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.normMean.cantidadDesvio}}'>{{stat.normMean.patologico
                      | number: '1.1-2'}}</td>
      
                    <td>{{stat.normStdDev.media | number: '1.1-2'}}</td>
                    <td>{{stat.normStdDev.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.normStdDev.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.normStdDev.cantidadDesvio}}'>{{stat.normStdDev.patologico
                      | number: '1.1-2'}}</td>
      
                    <td>{{stat.normMin.media | number: '1.1-2'}}</td>
                    <td>{{stat.normMin.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.normMin.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.normMin.cantidadDesvio}}'>{{stat.normMin.patologico
                      | number: '1.1-2'}}</td>
      
                    <td>{{stat.normMax.media | number: '1.1-2'}}</td>
                    <td>{{stat.normMax.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.normMax.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.normMax.cantidadDesvio}}'>{{stat.normMax.patologico
                      | number: '1.1-2'}}</td>
      
                    <td>{{stat.normRange.media | number: '1.1-2'}}</td>
                    <td>{{stat.normRange.desvio | number: '1.1-2'}}</td>
                    <td title=" > {{stat.normRange.cantidadDesvio + 1 }} desvío standard" class='desvio{{stat.normRange.cantidadDesvio}}'>{{stat.normRange.patologico
                      | number: '1.1-2'}}</td>
      
                   
      
                  </tr>
                </tbody>
              </table>
        </div>
  
      </div>

  </div>






<!--

  <div class='rounded border p-3 '>
    <button type="button" class="btn btn-outline-primary" (click)="volver()">Volver</button>
  </div>
  -->
</div>