<div class='container'>
  <h5>Referencias de colores para el freeview</h5>
  <div *ngFor="let annotation of annotations">
    <div *ngIf="annotation.labels == 'APARC' && annotation.hemisferio == 'lh' && annotation.surface == 'thickness'"
      class='aParent'>
      <div class="positivonegativo">
        <h6>Desvíos negativos</h6>
        <div class="aParent">
          <div class="positivonegativo">
            <app-desvios [negativo]="true" [desvioMax]="1" [desvioMin]="0" [title]="'Menores a 1'"
              [colores]='annotation.colores'>
            </app-desvios>
          </div>
          <div class="positivonegativo">
            <app-desvios [negativo]="true" [desvioMax]="2" [desvioMin]="1" [title]="'Menores a 2'"
              [colores]='annotation.colores'>
            </app-desvios>
          </div>
        </div>
      </div>
      <div class="positivonegativo">
        <h6>Desvíos positivos</h6>
        <div class="aParent">
          <div class="positivonegativo">
            <app-desvios [negativo]="false" [desvioMax]="1" [desvioMin]="0" [title]="'Menores a 1'"
              [colores]='annotation.colores'>
            </app-desvios>
          </div>
          <div class="positivonegativo">
            <app-desvios [negativo]="false" [desvioMax]="2" [desvioMin]="1" [title]="'Menores a 2'"
              [colores]='annotation.colores'>
            </app-desvios>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>